/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #2f2f2f;
}

::-webkit-scrollbar-thumb {
  background: #48d0df;
  border-radius: 20px;
}

/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

.animation-exit {
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.animation-enter {
  opacity: 1;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("@/assets/fonts/ChakraPetch-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("@/assets/fonts/ChakraPetch-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("@/assets/fonts/ChakraPetch-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("@/assets/fonts/ChakraPetch-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("@/assets/fonts/ChakraPetch-Bold.ttf");
  font-weight: 700;
}
