@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grad {
  @apply bg-gradient-to-l from-sec to-prm;
}

.col {
  @apply flex flex-col;
}

.col-start {
  @apply flex flex-col justify-start items-center;
}

.col-center {
  @apply flex flex-col justify-center items-center;
}

.col-between {
  @apply flex flex-col justify-between;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.flex-end {
  @apply flex justify-end items-center;
}

.text-grad {
  @apply bg-gradient-to-l bg-clip-text text-transparent;
}
